<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/angular.png" alt="Angular logo" width="30" height="30" class="d-inline-block align-text-top">
        </a>
        <a class="navbar-brand" href="#">GOTY</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link" routerLinkActive="active" routerLink="/inicio">Inicio</a>
            <a class="nav-link" routerLinkActive="active" routerLink="/goty">Votar</a>
            </div>
        </div>
    </div>
  </nav>
